{% extends 'base.html' %}
{% load profileFilter %}
{% block head %}
<title>MauPromosi | Ubah Password {{ user.name }} (@{{ user.username }})</title>
<style>
    #profile-info {
        display: flex;
    }
    #profile-img {
        width: 75%;
    }
    #profile-picture {
        padding: 5%;
        width: 50%;
    }
    #profile-desc {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 5%;
    }
    #editpassword-form {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }
    #editpassword-form > .container {
        margin-bottom: 2%;
    }
    .form-text, .input-field {
        width: 100%;
    }
    #id-submit {
        background-color: #FF8600;
        color: #F1F2F6;
        padding: 1%;
        padding-left: 5%;
        padding-right: 5%;
        float: right;
    }
    .error {
        color: red;
    }
</style>
{% endblock %}

{% block body %}
        
        <form method="POST" id="editpassword-form" enctype="multipart/form-data">
            {% csrf_token %}
            {% if message %}
            <div class="container">
                <text class="error">{{ message }}</text>
            </div>
            {% endif %}
            <div class="container">
                <div class="form-text">
                    <text>PASSWORD LAMA</text>
                </div>
                <div>
                    <input class="input-field" id="id-old-password" type="password" name="old_password" required autocomplete="off" maxlength="200">
                </div>
                {% if form.errors.old_password %}
                <div class='error'>{{ form.errors.old_password }}</div>
                {% endif %}
                <div class="form-text">
                    <text>PASSWORD BARU</text>
                </div>
                <div>
                    <input class="input-field" id="id-new-password1" type="password" name="new_password1" required autocomplete="off" maxlength="200">
                </div>
                <div>
                    <ul id="password-helptext">
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                </div>
                {% if form.errors.new_password1 %}
                <div class='error'>{{ form.errors.new_password1 }}</div>
                {% endif %}
                <div class="form-text">
                    <text>KONFIRMASI PASSWORD BARU</text>
                </div>
                <div>
                    <input class="input-field" id="id-new-password2" type="password" name="new_password2" required autocomplete="off" maxlength="200">
                </div>
                {% if form.errors.new_password2 %}
                <div class='error'>{{ form.errors.new_password2 }}</div>
                {% endif %}
            </div>
            <div class="container">
                <div id="container-submit">
                    <input id="id-submit" type="submit" value="SIMPAN">
                </div>
            </div>
        </form>
{% endblock %}
