{% extends 'base.html' %}
{% block head %}
    <title>MauPromosi | Feedback</title>
    <style>
        body {
            background-color: #E5E5E5;
            font-family: 'Josefin Sans', sans-serif;
            word-wrap: break-word;
        }

        .fb-display{
            width: 100%;
        }

        table {
            border-collapse: collapse;
            margin-top: 30px;
            margin-bottom: 30px;
            background-color: white;
        }

        td, th {
            text-align: center;
            padding: 8px;
        }
        .container{
            margin-top:30px;
            margin-bottom: 20%;
            width: 100%;
        }
        .pesan{
            text-align: center;
        }
        
        .form-container{
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
        }
        .form-container form{
            width: 90%;
            margin-bottom: 2%;
        }

        .form-container form div{
            margin-top: 2%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 20%;
        }
        .form-container form div span{
            width: 10px;
            height: 10px;
            background: #555;
            border-radius: 50%;
        }

        .form-container .valid div span{
            background: #0f0;
            box-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 20px #0f0, 0 0 40px #0f0;
        }

        .form-container .invalid div span{
            background: #f00;
            box-shadow: 0 0 5px #f00, 0 0 10px #f00, 0 0 20px #f00, 0 0 40px #f00;
        }

        @media screen and (max-width: 770px){
            .form-container form div{
                width: 25%;
            }
        }
        @media screen and (max-width: 450px){
            .form-container form div{
                width: 30%;
            }
        }
        @media screen and (max-width: 375px){
            .form-container form div{
                width: 40%;
            }
        }
    </style>
{% endblock head %}
{% block body %}
<div class='container'>
    <h1>Beri Feedback untuk Mau<span style="color: #27187E;">Promosi</span></h1>
    <div class="fb-display">
        <div class="form-container">
            <form method="dialog" id="id_form">
                {% csrf_token %}
                {{ form }}
                <div>
                    <button id="sendBtn" type="submit" class="btn-secondary" style="cursor: pointer;" onclick="emailValidator();">Send</button>
                    <span class="indicator" style="margin-left: 5px;"></span>
                </div>
            </form>
            <p>Characters Left: <span class="count" style="color: red;">200</span></p>
        </div>
        <table id="demo" class="table table-bordered table-light">
            <thead>
                <tr>
                    <th scope="col" class="align-middle">Email</th>
                    <th scope="col" class="align-middle">Feedback</th>
                </tr>
            </thead>
            <tbody id="content"></tbody>
        </table>
    </div>
    <a href="{% url 'homepage' %}"><button style="cursor: pointer;" type="submit" class="btn-secondary">Kembali</button></a>
</div>
<script>
    // Characters count for feedback form
    $('#textform').keyup(function(){
        $('.count').text(200-this.value.length);
    })

    // Valid email indicator
    $('#emailform').keyup(function(){
            const pattern = /^[^ ]+@[^ ]+\.[a-z]{2,3}$/
            if (this.value.match(pattern)){
                $('form').addClass('valid').removeClass('invalid');
            } else{
                $('form').addClass('invalid').removeClass('valid');
            }
            if (this.value == ''){
                $('form').removeClass('valid').removeClass('invalid');
            }
    })
    function emailValidator(){
            if ($('form').hasClass('invalid')){
                alert('Please enter a valid email address!\n(e.g. example@mail.com)');
                $('.count').text(200);
            }
    }

    // Feedback API
    function fetch() {
        $.ajax({
            url: "{% url 'feedback_fetch' %}",
            success: function(data) {
                $('#content').html('')
                var result = '<tr>';
                if (data['empty'] == 1){
                    result += "<tr><td class='align-middle' colspan='2'>Belum ada Feedback dari user</td></tr>"
                } else{
                    var feedback = data['feedback']
                    for (var i = 0; i < feedback.length; i++) {
                        result += "<tr> <td class='align-middle'>" + feedback[i]['email'] + "</td>" +
                            "<td class='align-middle'>" + feedback[i]['message'] + "</td>" + "</tr>"
                    }
                }
                $('#content').append(result);
            }
        })
    };
    // Show feedbacks when feedback page loaded
    $(document).ready(function(){fetch();});

    // adding feedbacks
    $(document).on('click', '#sendBtn', function(e){
        var csrf_token = $('[name="csrfmiddlewaretoken"]').val();
        var email = $('#emailform').val();
        var message = $('#textform').val();
        if (email && message){
            $.ajax({
                type:"POST",
                url: "{% url 'add_feedback' %}",
                data:{
                    'email': email,
                    'message': $('#textform').val(),
                    'csrfmiddlewaretoken': csrf_token
                },
                success:function(data){
                    console.log("test");
                    fetch();
                }
            });
        }
        $('#id_form').trigger('reset');
        $('form').removeClass('valid').removeClass('invalid');
        $('.count').text(200);
    });

</script>
{% endblock body %}
