{% extends 'base.html' %}
{% block head %}
    <title>MauPromosi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
        body {
            background-color: #E5E5E5;
            font-family: 'Josefin Sans', sans-serif;
            word-wrap: break-word;
        }
        form{
            width: 15%;
        }

        .head-container{
            background: url('https://images.pexels.com/photos/4012966/pexels-photo-4012966.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
            background-size: cover;
            background-position: bottom;
            width: 100%;
            height: 95vh;
        }
        .head-text{
            padding-top: 8%;
            padding-left: 8%;
            height: 100%;
            
        }
        .text{
            font-size: 50px;
        }

        .head-text text span{
            height: 10px;
            width: 25px;
            transition: background-color 0.2s linear;
        }
        .head-text text span:hover{
            background-color: #FF8600;
            border-radius: 3px;
        }

        .head-text text span a{
            text-decoration: none;
            color: white;
        }

        #head-signup{
            font-size: 20px;
            background-color: #27187E;
            cursor: pointer;
            width: 12%;
            height: 9%;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.2s linear;
        }

        #head-signup:hover{
            background: transparent;
            border: 1px solid white;
            color: #27187E;
        }
        #head-signup a{
            color: white;
            text-decoration: none;
        }

        .head-authenticated{
            height: 110vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .head-authenticated h2{
            align-self: center;
        }

        .carousel-container{
            width: 80%;
            margin-left: 10%;
            overflow: hidden;
            position: relative;
        }

        .carousel-slide{
            height: 500px;
            width: 100%;
            display: flex;
        }

        .carousel-slide img{
            width: 1100px;
            height: 500px;
        }
        #prevBtn{
            position: absolute;
            top: 50%;
            z-index: 10;
            left: 5%;
            font-size: 30px;
            color: black;
            opacity: 0.6;
            cursor: pointer;
        }
        #nextBtn{
            position: absolute;
            top: 50%;
            z-index: 10;
            right: 5%;
            font-size: 30px;
            color: black;
            opacity: 0.6;
            cursor: pointer;
        }

        .why-us{
            width: 100%;
            height: 300vh;
            margin-bottom: 5%;
            margin-top: 10%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        .why{
            padding-left: 23%;
            font-size: 45px;
            margin-bottom: 5%;
        }
        .img{
            display: flex;
            justify-content: space-evenly;
            height: 30%;
            align-items: center;
        }
        .img .photo img{
            width: 430px;
            height: 430px;
        }

        .img .img-text text{
            font-size: 30px;
        }

        #profit .photo{
            order: 2;
        }

        .foot{
            margin-top: 20%;
            background-color: #222222;
            height: 120vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        .foot .signup2{
            background-image: url('https://images.pexels.com/photos/320007/pexels-photo-320007.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
            background-repeat: no-repeat;
            background-size: cover;
            background-clip: border-box;
            background-position-x: 50%;
            background-position-y: center;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .foot .signup2 h2{
            transform: translateY(-50px);
        }

        #foot-signup{
            font-size: 20px;
            background-color: #FF8600;
            cursor: pointer;
            width: 12%;
            height: 10%;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.2s linear;
            transform: translateY(-50px);
        }

        #foot-signup:hover{
            background: transparent;
            border: 1px solid black;
            text-shadow: #222222;
        }
        #foot-signup a{
            color: white;
            text-decoration: none;
        }

        .feedback{
            margin-bottom: 15%;
            width: 100%;
            height: 30%;
            padding-left: 10%;
            padding-top: 5%;
            color: white;
        }
        .feedback form{
            width: 50%;
            margin-bottom: 2%;
        }

        .feedback form div{
            margin-top: 2%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 30%;
        }

        .feedback form div span{
            width: 10px;
            height: 10px;
            background: #555;
            border-radius: 50%;
        }

        .feedback .valid div span{
            background: #0f0;
            box-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 20px #0f0, 0 0 40px #0f0;
        }

        .feedback .invalid div span{
            background: #f00;
            box-shadow: 0 0 5px #f00, 0 0 10px #f00, 0 0 20px #f00, 0 0 40px #f00;
        }

        .feedback .fb-button{
            border-radius: 5px;
            border: 1px solid white;
            width: 15%;
            display: flex;
            justify-content: center;
        }
        .feedback .fb-button a{
            font-size: 20px;
            color: white;
            text-decoration: none;
            transition: all 0.1s linear;
            margin-top: 5px;
        }

        .feedback .fb-button a:hover{
            font-size: 22px;
            color: #758BFD;
            text-decoration: none;
        }

        @media screen and (max-width: 901px){
            .carousel-container .carousel-slide > img{
                transform: translateX(-10%);
            }

            .head-text text{
                color: white;
            }
            .why-us .why{
                font-size: 30px;
            }

            .img .photo img{
                width: 300px;
                height: 300px;
            }

            .img .img-text text{
                font-size: 20px;
            }
            .feedback .fb-button{
                width: 20%;
            }
            .feedback .fb-button a{
                font-size: 15px;
            }
        }
        @media screen and (max-width: 770px){
            .carousel-container .carousel-slide > img{
                transform: translateX(-15%);
            }
            .feedback{
                margin-bottom: 20%;
            }
        }

        @media screen and (max-width: 700px){
            
            #head-signup{
                font-size: 15px;
                height: 6%;
            }
            .carousel-container .carousel-slide > img{
                transform: translateX(-20%);
            }

            .why-us{
                height: 250vh;
            }

            .img .photo img{
                width: 200px;
                height: 200px;
            }

            .img .img-text text{
                font-size: 15px;
            }
            .feedback {
                margin-bottom: 25%;
            }
            #foot-signup a{
                font-size: 15px;
            }
        }

        @media screen and (max-width: 600px) {
            .head-authenticated h2{
                font-size: 24px;
            }
            .carousel-container{
                height: 40%;
                width: 65%;
                margin-left: 17%;
            }
            .carousel-container .carousel-slide > img{
                transform: translate(-30%,-12%);
                
            }
            .why-us .why{
                font-size: 25px;
            }
            .foot .signup2 h2 {
                font-size: 25px;
            }
            .feedback .fb-button{
                width: 25%;
            }
        }

        @media screen and (max-width: 500px) {
            #head-signup{
                font-size: 15px;
                height: 6%;
                width: 15%;
            }

            .img .photo img{
                width: 150px;
                height: 150px;
            }

            .img .img-text text{
                font-size: 12px;
            }

            .img .img-text h4{
                font-size: 20px;
            }
            .feedback form div{
                width: 46%;
            }
        }

        @media screen and (max-width: 480px){
            .feedback .fb-button{
                width: 30%;
            }
        }

        @media screen and (max-width: 460px) {
            .foot .signup2 h2 {
                font-size: 20px;
            }

            #foot-signup{
                width: 15%;
            }
            .feedback {
                margin-bottom: 30%;
            }
        }

        @media screen and (max-width: 400px) {
            .head-authenticated h2{
                font-size: 16px;
            }
            .head-text{
                padding-top: 20%;
            }
            .head-text text{
                font-size: 30px;
            }
            #head-signup{
                font-size: 12px;
                height: 6%;
                width: 20%;
            }
            .feedback {
                margin-bottom: 35%;
            }
            .feedback .fb-button{
                width: 35%;
            }
        }

        @media screen and (max-width: 370px) {
            .img .photo img{
                width: 100px;
                height: 100px;
            }

            .img .img-text text{
                font-size: 10px;
            }
            .foot .signup2 h2 {
                font-size: 15px;
            }

            #foot-signup{
                width: 20%;
            }
            .why-us .why{
                font-size: 20px;
            }
            .why-us{
                height: 200vh;
            }
            .feedback {
                margin-bottom: 40%;
            }
            .feedback .fb-button{
                width: 40%;
            }
        }
        @media screen and (max-width: 320px) {
            .img .img-text h4{
                font-size: 12px;
            }
            .img .img-text text{
                font-size: 8px;
            }
            .feedback h4{
                font-size: 20px;
            }
        }

    </style>
{% endblock head %}
{% block body %}
    <div class="head-container">
        <div class="head-text">
            <text class="text" style="color: #ffffff;">Punya </text><text class="text" style="color: #758BFD;">usaha </text>
            <text class="text" style="color: #ffffff;">tapi<br>bingung </text><text class="text" style="color: #758BFD;">promosi </text>
            <text class="text" style="color: #ffffff;"><br>di mana? <br></text>
            {% if not request.user.is_authenticated %}
            <text style="font-weight: lighter; font-size: 25px; color: white;">Gabung bersama kami!<br><br></text>
            <div id="head-signup"><a href="{% url 'sign_up' %}">Sign Up</a></div>
            {% else %}
            <text style="font-weight: lighter; font-size: 25px; color: white;">Terima kasih sudah bergabung<br>bersama kami, <span><a href="{% url 'profile' pk=user.id %}">{{ request.user }}</a></span>!<br><br></text>
            {% endif %}
        </div>
    </div>
    <div class="head-authenticated">
        <h2>Find or Promote your <span style="color: #27187E;"></span></h2>
        <div class="carousel-container">
            <i class="fa fa-arrow-left" id="prevBtn"></i>
            <i class="fa fa-arrow-right" id="nextBtn"></i>
            <div class="carousel-slide">
                <img src="https://gitlab.com/naufalpramudya/maupromosi-static/-/raw/master/static/fix_misc.jpg" id="lastClone" alt="">
                <img src="https://gitlab.com/naufalpramudya/maupromosi-static/-/raw/master/static/fix_burger.jpg" alt="">
                <img src="https://gitlab.com/naufalpramudya/maupromosi-static/-/raw/master/static/fix_coffee.jpg" alt="">
                <img src="https://gitlab.com/naufalpramudya/maupromosi-static/-/raw/master/static/fix_clothes.jpg" alt="">
                <img src="https://gitlab.com/naufalpramudya/maupromosi-static/-/raw/master/static/fix_toys.jpg" alt="">
                <img src="https://gitlab.com/naufalpramudya/maupromosi-static/-/raw/master/static/fix_misc.jpg" alt="">
                <img src="https://gitlab.com/naufalpramudya/maupromosi-static/-/raw/master/static/fix_burger.jpg" id="firstClone" alt="">
            </div>
        </div>
    </div>
    <div class="why-us">
        <div class="why">Mengapa anda harus bergabung?</div>
        <div class="img" id="trust">
            <div class="photo">
                <img src="https://gitlab.com/naufalpramudya/maupromosi-static/-/raw/master/static/trusted.jpg" alt="trusted">
            </div>
            <div class="img-text">
                <h4 style="color: #758BFD;">We are trusted</h4>
                <text>Lebih dari 50.000 partner sudah<br>mempercayakan usahanya kepada kami</text>
            </div>
        </div>
        <div class="img" id="profit">
            <div class="photo">
                <img src="https://gitlab.com/naufalpramudya/maupromosi-static/-/raw/master/static/nonprofit.jpg" alt="nonprofit">
            </div>
            <div class="img-text">
                <h4 style="color: #FF8600;">We take no profit</h4>
                <text>100% keuntungan penjualan akan<br>diperoleh oleh partner</text>
            </div>
        </div>
        <div class="img" id="exp">
            <div class="photo">
                <img src="https://gitlab.com/naufalpramudya/maupromosi-static/-/raw/master/static/fullexp.jpg" alt="fullexp">
            </div>
            <div class="img-text">
                <h4 style="color: #758BFD;">We give full exposure</h4>
                <text>Seluruh partner akan mendapatkan full<br>exposure di catalog kami</text>
            </div>
        </div>
    </div>
    <div class="foot">
        <div class="signup2">
            <h2>Siap untuk menggapai kesuksesanmu?</h2>
            <div id="foot-signup"><a href="{% url 'sign_up' %}">Sign Up</a></div>
        </div>
        <div class="feedback">
            <h4>Beri Feedback untuk pengalaman website yang lebih baik lagi!</h4>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <div>
                    <button id="sendBtn" type="submit" class="btn-secondary" style="cursor: pointer;" onclick="emailValidator();">Send</button>
                    <span class="indicator"></span>
                </div>
            </form>
            <p>Characters Left: <span class="count" style="color: red;">200</span></p>
            <div class="fb-button"><a href="{% url 'feedback' %}">Lihat Feedback</a></div>
        </div>
    </div>
    <script>
        // Carousel
        $(document).ready(function(){
            const carouselSlide = document.querySelector('.carousel-slide');
            const carouselImages = document.querySelectorAll('.carousel-slide img');
            let counter = 1;
            const size = carouselImages[0].clientWidth;
            var things = ['Foods','Beverages','Clothes','Toys','Miscellaneous'];
            var wordCounter = document.querySelector('.head-authenticated h2 span');

            wordCounter.innerHTML = things[0];
            carouselSlide.style.transform = 'translateX(' + ( -size * counter ) + 'px)';

            $('#nextBtn').on('click', function(){
                if (counter >= carouselImages.length - 1) return;
                carouselSlide.style.transition = "transform 0.4s ease-in-out";
                counter++;

                if (counter > things.length)
                    wordCounter.innerHTML = things[0];
                else
                    wordCounter.innerHTML = things[counter-1];

                carouselSlide.style.transform = 'translateX(' + ( -size * counter ) + 'px)';
                console.log(counter);
        
            })
            $('#prevBtn').on('click', function(){
                if (counter <= 0) return;
                carouselSlide.style.transition = "transform 0.4s ease-in-out";
                counter--;

                if (counter <= 0)
                    wordCounter.innerHTML = things[4];
                else
                    wordCounter.innerHTML = things[counter-1];

                carouselSlide.style.transform = 'translateX(' + ( -size * counter ) + 'px)';
                console.log(counter);
            })

            carouselSlide.addEventListener('transitionend', ()=>{
                if (carouselImages[counter].id === 'lastClone'){
                    carouselSlide.style.transition = "none";
                    counter = carouselImages.length - 2;
                    wordCounter.innerHTML = things[4];
                    carouselSlide.style.transform = 'translateX(' + ( -size * counter ) + 'px)';
                }
                if (carouselImages[counter].id === 'firstClone'){
                    carouselSlide.style.transition = "none";
                    counter = carouselImages.length - counter;
                    wordCounter.innerHTML = things[0];
                    carouselSlide.style.transform = 'translateX(' + ( -size * counter ) + 'px)';
                }
            })
        });
        // Characters count for feedback form
        $('#textform').keyup(function(){
            $('.count').text(200-this.value.length);
        })

        // Valid email indicator
        $('#emailform').keyup(function(){
            const pattern = /^[^ ]+@[^ ]+\.[a-z]{2,3}$/
            if (this.value.match(pattern)){
                $('form').addClass('valid').removeClass('invalid');
            } else{
                $('form').addClass('invalid').removeClass('valid');
            }
            if (this.value == ''){
                $('form').removeClass('valid').removeClass('invalid');
            }
        })
        function emailValidator(){
            if ($('form').hasClass('invalid')){
                alert('Please enter a valid email address!\n(e.g. example@mail.com)');
                $('.count').text(200);
            }
        }
        $(document).on('click', '#sendBtn', function(e){
            var email = $('#emailform').val();
            var message = $('#textform').val();
            if (email == '' && message == ''){
                alert("Come on, don't give us an empty feedback!");
            }
        });
    </script>
{% endblock body %}
