{% extends 'base.html' %}
{% load static %}
{% block head %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'catalog-js.js' %}"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'katalog.css' %}"/>
    <title>MauPromosi | Katalog</title>
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="judul">Katalog Produk</h1>
        <div class="search-bar">  
          <div class="search-container">
            <form action="" method="GET" >
                <div>
                  <input class="search" type="text" placeholder="Search.." name="cari_produk" id="cari">
                  <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                </div>        
            </form> 
          </div>
          <div class="dropdown" id="btn-lokasi">          
            <input class="dropbtn" name="lokasi" type="button"value="Lokasi">
          </div> 
          <div class="dropdown" id="btn-kategori">          
            <button class="dropbtn">Kategori</button>       
          </div>  
        </div>
        <div class="dropdown-content" id="lokasi">                
          <form action="" method="GET">
          {% for nama_lokasi in lokasi %}
          <input id="nama_lokasi"name="lokasi" value="{{ nama_lokasi }}"type="button" class="button">
          {% endfor %}              
          </form>
        </div>
        <div class="dropdown-content" id="kategori">    
          <form action="" method="GET">
          {% for nama_kategori in kategori %}
          <button id="nama_kategori"name="kategori" value="{{ nama_kategori }}"type="button" class="button">{{ nama_kategori }}</button>
          {% endfor %}
          </form>  
        </div>
        <div class="cards" id="cards">
        
        </div>
        {% if user.is_authenticated %}
        <div class="tambahan">
           <div class="pengunjung"><p style="font-size: 17px;">Anda telah mengunjungi halaman ini sebanyak {{ visit }} kali</p></div>
           <div class="saran"style="font-size: 17px;">
            <h5>Saran untuk page ini</h5>
            <form method="POST" id="saran">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <a href="{% url 'catalog:saran' %}" ><button type="submit" class="btn btn-primary"style="margin-top: 30px;">Lihat saran page catalog</button></a>
          </div>
        </div>
        {% endif %}
    </div>
{% endblock %}