{% extends 'base.html' %}
{% load static %}
{% block head %}

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'saran.css' %}"/>
    <title>MauPromosi | Katalog</title>

{% endblock %}

{% block body %}

<div class='container'>
    <h1>Kumpulan Saran Catalog</h1>
    {% if saran %}
    <table id="saran">
        <tr>
            <th style="width: 70px;">No</th>
            <th style="width: 1000px;text-align: center;">Saran</th>
        </tr>
        {% for saran in saran %}
        <tr>
            <td>{{ saran.id }}</td>
            <td>{{ saran.saran }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2>Belum ada saran</h2>
    {% endif %}

    <a href="{% url 'catalog:katalog' %}"><button type="submit" class="btn-secondary">Kembali</button></a>
</div>

{% endblock %}